@import "fonts.css";

/* CUSTOM PROPS */

:root {
    --Raleway: "Raleway";
    --OpenSans: "Open Sans";
    --NunitoSans: "NunitoSans";
    --Primry: #2F65F8;
    --DarkBlue: #07043B;
}


/* GLOBAL STYLES  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1328px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    font-family: var(--OpenSans);
}

/* SITE-HEADER */
.site-header {
    margin-top: 65px;
}
.logo {
    display: block;
}
.logo-image {
    width: 166px;
    height: 49px;
    object-fit: cover;
}
.menu {
    display: flex;
    column-gap: 57px;
}
.menu-link {
    color: var(--DarkBlue);
    font-family: var(--Raleway);
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}
/* SITE-HEADER */

/* SITE-HERO */
.site-hero {
    padding-top: 86px;
    padding-bottom: 86px;
}
.site-banner {
    max-width: 640px;
    width: 100%;
}
.site-headline {
    max-width: 627px;
    width: 100%;
    color: var(--DarkBlue);
    font-family: var(--Raleway);
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}
.site-text {
    max-width: 585px;
    width: 100%;
    color: var(--DarkBlue);
    font-family: var(--OpenSans);
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .531px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.site-form {
    display: flex;
    column-gap: 16px;

}
.site-form__input {
    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 21px;
    border: 1px solid var(--DarkBlue);
    max-width: 320px;
    width: 100%;
    border-radius: 3px;
}
.site-form__input:focus{
    outline: none;
}
.site-form__input::placeholder{
    color: #C2C2C2;
    font-family: var(--OpenSans);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.467px;
    box-shadow: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
    
}
.site-btn {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 200px;
    width: 100%;
    background-color: var(--Primry);
    border: 1px solid var(--Primry);
    text-align: center;
    border-radius: 3px;
    color: #fff;
    font-family: var(--Raleway);
    font-size: 14px;
    font-weight: 700;

}
/* SITE-HERO */

/* SERVICE SECTION */
.service-content {
    background-color: #F8F8FE;
    padding-top: 100px;
    padding-bottom: 100px;
}
.service-title {
    color: var(--DarkBlue);
    font-family: var(--Raleway);
    font-size: 40px;
    font-weight: 700;
}
.service-text {
    color: var(--DarkBlue);
    font-family: var(--OpenSans);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 529px;
    width: 100%;
    margin-top: 38px;
    margin-bottom: 15px;
}

.service-link {
    color: #3DA08F;
    font-family: var(--OpenSans);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    
    align-items: center;
    column-gap: 8px;
    transition: .4s;
    border-bottom: 1px solid #3DA08F;
    width: max-content;
   
}

.service-link:active{
    color: #71DFCC;
}
.service-card {
    max-width: 356px;
    width: 100%;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.05);
    padding: 12px 33px 26px 33px;
    margin-top: 45px;
}
.service-card__text {
    color: var(--DarkBlue);
    font-family: var(--OpenSans);
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.5px;
    margin-bottom: 16px;
}
.profile {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.profile-user {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.profile-desc {
    display: flex;
    flex-direction: column;
}
.user-name {
    color: var(--DarkBlue);
    font-family: var(--OpenSans);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.55px
}
.user-job {
    color: var(--DarkBlue);
    font-family: var(--OpenSans);
    font-size: 8px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.4px;
}


.service-top__image {
    width: 100%;
}






.service-media__image {
    max-width: 542px;
    width: 100%;
}
/* SERVICE SECTION */



